{% extends "layout.html" %}
{% block content %}
<h2 class="text-center">Manage Splitters</h1>
<form method="POST" action="/splitters">
    <div class="mb-3 text-center  align-items-center">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class = "text-center">
        <button type="submit" class="btn btn-primary align-items-center ">Add Splitter</button>
    </div>
    
</form>

<div class="mb-5"></div>

<h2 class="text-center">Existing Splitters</h2>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>
                <a href="/delete_splitter/{{ user.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
