{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">{{ bill.name }} - Transactions</h1>

<table class="table mt-4 text-center">
    <thead>
        <tr>
            <th scope="col">Transaction Name</th>
            <th scope="col">Amount (USD)</th>
            <th scope="col">Payer</th>
            <th scope="col">Splitters</th>
        </tr>
    </thead>
    <tbody>
        {% for data in transactions_with_splitters  %}
        <tr>
            <td>{{ data.transaction.name }}</td>
            <td>{{ "%.2f"|format(data.transaction.amount) }}</td>
            <td>{{ data.transaction.payer.name }}</td>
            <td>{{ data.splitter_names }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
